{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1> Home Page</h1>
                <p> Annyeong</p>
                <p>
                    {{index .StringMap "test"}}
                </p>

                <img src="/static/images/outside.jpg" alt="Outside" class="img-fluid">
            </div>
        </div>
    </div>
{{end}}
